h1 {
text-align: center;
}
button {
  margin-left: 48%;
}
p {
  font-size: 15px;
  text-align: center;
}
ul{
  text-align: center;
  list-style-type: circle;
}
li {
  display:block;
}
h2{
  text-align: center;
}
#instructions{
  word-wrap: break-word;
  float: right;
}
.insCont{
float:right;
}
